<h2>Welcome</h2>
<p>My name is Ben Echols, I am a software developer, dad, and gamer.</p>
<p>This is my partially done attempt at having my own site. Most the interesting things are in the 'Projects' tab.</p>
<p>Currently this service mostly exists to terminate SSL and proxy requests to other services.</p>
