2020 Updates
23 Jul 2020
Few small updates made to the site
<h2>Major Changes Include:</h2>
<ol>
    <li>Audit Optimizations</li>
    <li>Compression</li>
    <li>Content Location Configuration</li>
    <li>Gitlab Webhook</li>
</ol>

<h3>Audit Optimizations</h3>
<p>I ran the chrome audit tools to see what was missing from making my site "optimal". Major changes include adding of more metadata to header and optimizing styles to have more contrast.</p>
<p>Also added a robots.txt just so that it would increase the score.</p>

<h3>Compression</h3>
<p>
    I didn't like how large several assets were when being proxied - Specifically I use <a href="https://perkeep.org/">Perkeep</a> to host my pictures, video, and documents. 
    It uses a gopherjs'd javascript file that was 9mb and I hated how slow that was to load on my phone. So I added brotli compression to all javascript files!
</p>

<h3>Content Location Configuration</h3>
<p>I modified all content loading code to expect a path to be passed in as a root. T
    his allows running the homesite as a service from anywhere on the system and just referencing the content location as a startup flag.</p>

<h3>Gitlab Webhook</h3>
<p>Added a hook for listening to pushes to gitlab so that I can automatically update site contents.</p>

<h3>Still to do</h3>
<p>I would still like to make a few changes to the site</p>
<ol>
    <li>Separate Router from site - The blog/site should only do the website. The proxy/router should be a separate process that runs alone.</li>
</ol>
