Making my own site and blog
19 Sept 2018
<p>Why am I writing my own site and blog engine entirely from scratch?</p>
<p>Blog Entry Still Under Construction</p>
<h3>Rolling your own</h3>
<p>First off I wanted to have my own website. I have always meant to make one but just have never actually gotten around to making it. I thought about jus t using an off-the-shelf solution and originally planned to do that. However I also like to code and doing your own projects helps you to become a better programmer. So I decided to write my own website, blog engine, and a few other things that I wanted to make.</p>
<p>This site is then a combination of my home website and <a href="https://www.linkedin.com/in/ben-echols-8109953">resume</a>, the code and technology behind the website is also part of that resume.</p>

<h3>The Technologies</h3>
<p>
  <ol>
    <li>Go</li>
    <ul>
      <li>LetsEncrypt and autocert</li>
      <li>http package</li>
      <li>template package</li>
    </ul>
    <li>HTTP2 - Go http server by default support http2</li>
    <li>HTML - Obviously</li>
  </ol>
</p>

<h3>Core Site Features</h3>
<p>Blog entries are written in standard html and injected using go templates.</p>

<h3>In Progress / Still to do</h3>
<ul>
  <li>Blog Indexing by keywords</li>
  <li>Link Aggregator</li>
  <li>Blog Editing Interface (right now all editing is done by committing html files to the repo)</li>
  <li>Generalizing content loading - currently it is very hand-routed</li>
</ul>
