Strange Loop 2018 Takeaways
28 Sept 2018
I attended Strange Loop 2018, what can I takeaway from the talks I attended?
<p>Blog Entry Never Completed....</p>
<p>But here is what I have</p>

<p>Talks I attended</p>
<ul>
  <li>Shaping our children's education in computing</li>
  <li>Zero Downtime Migrations of Stateful Systems</li>
  <li>The Hard Parts of Open Source</li>
  <li>Mill vs Spectre: Performance and Security</li>
  <li>A Theory Of Everything</li>
  <li>Changing the World</li>
  <li>A Tale of Two Asyncs: Open Source Language Design in Rust and Node.js</li>
  <li>Building Senior Engineers</li>
</ul>

<br />
<h3>Shaping our children's education in computing</h3>
<h4>Simon Peyton Jones</h4>
<p>
  Computer Science is more than just using a computer, its a theory of how to think about problems and algorithms. We should make sure children are learning these things!
  Everyone should help where they can because education is hard.
</p>

<br />
<h3>Zero Downtime Migrations of Stateful Systems</h3>
<h4>Sangeeta Handa</h4>
<p>
  If you want to support stateless migrations its easiest to design for that from the beginning. Doing it later is really really hard.
</p>

<br />
<h3>The Hard Parts of Open Source</h3>
<h4>Evan Czaplicki</h4>
<p>Empathy is important! Community is a hard thing to manage. Make sure you are spending time educating people on soft skills just as much as the technical.</p>

<br />
<h3>Mill vs Spectre: Performance and Security</h3>
<h4>Ivan Godard</h4>
<p>
  Mill CPU architecture is pretty interesting. The people who came up with Spectre attacks are very clever people, some of those attacks are incredibly sophisticated.
</p>

<br />
<h3>Changing the World</h3>
<h4>Erica Joy Baker</h4>
<p>We should make sure we are asking the question - How do we want to change the world?</p>
<p>
  Technology has changed the world but its creation is focused in a few small demographics. We need
  more diversity in software if we want to make sure we are changing the world for the better.
</p>

<br />
<h3>A Tale of Two Asyncs: Open Source Language Design in Rust and Node.js</h3>
<h4>Ashley Williams</h4>
<p>Rust is pretty cool, I think I want to spend some time learning it when I have more ability</p>

<br />
<h3>Building Senior Engineers</h3>
<h4>Dalton Mitchell</h4>
<p>Feedback is important in both interviews and in jobs. Making sure we are helping people to understand where they can grow.</p>

<br />
<h3>Puzzles, Problems, and Programs</h3>
<h4>Chris Martens</h4>
<p>Puzzle solving and problem solving are two different things.
  A puzzle is a 'conversation' with the creator of the puzzle to understand the solution through hidden clues.
  A problem is something that can have many solutions and requires more creative thinking to solve.
  This seems like a useful point when discussing how you interview people!
</p>

<br />
<h3>Machine learning failures - for art!</h3>
<h4>Janelle Shane</h4>
<p>AI can be exploited for funny results. For example the incorrect training data made an ice cream name generator create death metal names like "Silence Cherry".
Another example was some vision training sets only showed sheep in green hillsides. Then it would say that any green hillside would have sheep. And drawaing sheep sometimes resulted in green hillsides.</p>
<p>But extending this it seems that it could be easy to abuse AI systems if malicious entities understood some of these flaws.</p>
