<!DOCTYPE html>
<html lang="en">
  <head>
    <style>{{.Style}}</style>
    <title>echols.io</title>
    <meta name="Description" content="Author: Ben Echols, personal site">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body><div class="container">
      <div class="navbar">
        <ul class="nav">
          {{range .Nav}}
            <li><a href="{{.Link}}" class="{{.Class}}">{{.Name}}</a></li>
          {{end}}
          {{ if .User }}
            <li style="float:right"><p style="font-size:12px;margin: 8px 0px 0px 0px">{{ .User }}</p></li>
          {{ else }}
	  <li style="float:right"><form action="/login" method="post">
			  <label for="user">user</label><input name="user" id="user" value=""></input>
			  <label for="pwd">pass</label><input name="pwd" id="pwd" value="" type="password"></input>
			  <input class="login" type="submit" value="login"></input>
          </form></li>
          {{ end }}
        </ul>
        <hr />
      </div>
      <div class="content">
        {{range .Entries}}
          <div class="entry">{{.Link}}<h2>{{.Title}}</h2></a><h4>{{.Date}}</h4>{{.Body}}</div>
        {{end}}
      </div>
    </div></body>
</html>
