html {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

h2 {
  font-size: 1.4em;
}

h4 {
  font-size: 0.9em;
  font-weight: normal;
  color: rgb(100, 100, 100);
}

label {
  font-size: 12px;
  padding-right: 3px;
  padding-left: 3px;
}

.container {
    max-width: 1000px;
    margin: 0 auto 100px auto;
    background-color: #F8FAFC;
    height: 100%;
    padding: 10px;
}

ul.nav {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 20px;
}

ul.nav li {
    display: inline-block;
    margin-left: 20px;
    font-size: 1.2em;
}

ul.nav a {
  color: #21607E;
  text-decoration: none;
}

ul.nav input {
  width: 60px;
}

.login {
     border: none;
     color: #31708E;
     background-color: inherit;
     font-size: 12px;
     cursor: pointer;
     display: inline-block;
}

form {
  margin: 0;
}

hr {
    border-color: #687864;
}

ul.nav a.sel {
  font-weight: bold;
}

.content a {
  color: #5F6183;
  /* text-decoration: none; */
}

.content .entry {
  margin-top: 20px;
}
