<p>my <a href="https://github.com/lologarithm">github account</a></p>
<p>my <a href="https://gitlab.com/lologarithm">gitlab account</a></p>
<p><a href="https://gitlab.com/lologarithm/homesite">this site's code</a> is hosted on gitlab.
  See <a href="/blog/entry/first.html">this blog entry</a> for more information about its design.</p>
<p>A half finished attemp at making my own <a href="https://gitlab.com/lologarithm/thermo">smart home</a> management software.
  So far I only have thermostat controller working.
  The main user interface is functional but not complete.
  The thermostats emit UDP multicasts and the UI server listens and renders them.
  Instructions can then be directly sent to the thermostat to change desired temp.</p>
<p>A <a href="https://github.com/lologarithm/netgen">network serialization generator</a>.
  It started with an IDL for generation but have been moving towards just parsing go structs and generating
  serializers from that. Supports gopherjs for writing webapps and half-functional C# implementation to
  support Unity3d based clients</p>
