<div>
  <form action="/linkr" method="post"><input name="title" type="text" value="title" onClick="this.value='';this.onclick=undefined;"></input><input type="text" name="link" value="https://..." onClick="this.value='';this.onclick=undefined;"></input><input type="submit" value="Post"></input></form>
  {{ range $key, $value := . }}
  <div style="margin-left: 10px;background-color: #EEEEEE">
    <a href="{{$value.Link}}">{{$value.Name}}</a>
    <p style="font-size:11px;margin-top: 0px">{{$value.Date}}</p>
  </div>
  {{ end }}
</div>
